/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ROOT */
:root {
    --text: #ffffff;
    --background: rgb(45, 39, 53);
    --backgroundcontainer: rgb(6, 10, 37);
    --shadow: #12072a;
    --button: #3B3B98;
}

body {
    font-family: Poppins, sans-serif;
    background-color: var(--background);
    color: var(--text);
}



/* HEADER */
h1 {
    text-align: center;
    padding: 0 0 15px;
}



/* CONTAINER */
.container {
    position: absolute;
    width: 30rem;
    background-color: var(--backgroundcontainer);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px var(--shadow);
    padding: 20px;
    border-radius: 3%;
}



/* RESULT */
.result-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
	width: 100%;
	height: 70px;
    padding: 10px;
    background-color: rgb(14, 14, 78);
}

.result-container #result {
    word-wrap: break-word;
	max-width: calc(100% - 40px);
}



/* COPY BUTTON */
.btn {
    display: none;
    position: relative;
    width: 75px;
    height: 100%;
    font-size: 16px;
	background-color: var(--button);
    opacity: 0;
    border: none;
    cursor: pointer;
}

.btn-highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.2s;
    z-index: 0;
}

.btn P {
    position: relative;
    z-index: 1;
    color: var(--text);
}

.btn:hover .btn-highlight {
    transform: scaleX(1);
    box-shadow: 0 0 10px yellow;
}

.btn:hover p {
    color: black;
}

.btn:active .btn-highlight{
    background-color: var(--button);
}



/* SETTINGS */
.setting {
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}



/* RANGE */
input[type=range] {
    background: transparent;
    cursor: pointer;
    width: 150px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--button);
}

input[type=range]::-moz-range-track {
    background-color: var(--button);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0;
    background-color: var(--text);
    height: 2rem;
    width: 1rem;
 }

 input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: var(--text);
    height: 1rem;
    width: .5rem;
}



/* NUMBER */
input[type=number] {
    width: 45px;
    height: 20px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 0;
}

input[type=number]:focus {
    outline: 0;
}

.setting #characterAmountNumber {
    width: 50px;
}



/* CHECKBOXES */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: white;
    width: 1.15em;
    height: 1.15em;
    border: 0;
    border-radius: 0.15em;
    transition: all .2s;
  }

  input[type="checkbox"]:checked {
    background-color: var(--button);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  



/* GENERATE BUTTON */
.btn-large {
	display: block;
    position: relative;
    height: 60px;
	width: 100%;
    border: none;
    background-color: var(--button);
    cursor: pointer;
}

.btn-large-highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.2s;
    z-index: 0;
}

.btn-large p {
    position: relative;
    z-index: 1;
    color: var(--text);
    font-size: 20px;
}

.btn-large:hover .btn-large-highlight {
    transform: scaleX(1);
    box-shadow: 0 0 10px yellow;
}

.btn-large:hover p {
    color: black;
}

.btn-large:active .btn-large-highlight {
    background-color: var(--button);
}



/* COPY ALERT MESSAGE */
.copy-alert {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position:absolute;
    height: 100%;
    width: 100%;
}

.copy-alert-msg {
    background-color: rgb(14, 14, 78);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    height: 150px;
    width: 450px;
    font-size: 15px;
    padding: 15px;
    overflow: hidden;
    color:white;
}

.copy-alert-msg h2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* COPY ALERT BUTTON */
.btnok {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: var(--button);
    border: none;
    cursor: pointer;
}

.btnok p {
    position: relative;
    z-index: 1;
    color: var(--text);
    font-size: 16px;
}

.btnok-highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.2s;
    z-index: 0;
}

.btnok:hover .btnok-highlight {
    transform: scaleX(1);
    box-shadow: 0 0 10px yellow;
}

.btnok:hover p {
    color: black;
}



/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
        height: 100%;
        /* display: grid;
        align-content: center;
        justify-content: center; */
    }

    .name {
        padding: 20px;
    }

    .result-container {
        display: inline;
        position:static;
        width: 100%;
        padding: 0;
    }

    .result-word {
        width: 100%;
        height: 80px;
        display: grid;
    }

    #result {
        background-color: red;
        align-self: center;
        justify-self: center;
    }

    .btn {
        display: block;
        width: 200px;
        height: 60px;
        margin: 30px auto 0;
        border-radius: 10px;
        padding: 0;
    }

    .settings {
        height: 400px;
        padding-top: 70px;
    }

    /* .setting {

    } */

    .check {
        width: 30px;
        height: 30px;
    }

    .btn-large {
        /* width: 100%; */
        height:10rem;
        /* position: absolute; */
        bottom: 0;
        left:0;
        border-radius: 0;
        width: 100%

    }

    .copy-alert-msg {
        display: flexbox;
        width: 300px;
        padding: 0;
        margin: 0;
    }

    .btnok {
        display: grid;
        width: 100%;
        height: 40px;
        border-radius: 0;
        margin:0;
        padding: 0;
        align-content: center;
    }
}