/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ROOT */
:root {
    --text: #ffffff;
    --background: rgb(45, 39, 53);
    --backgroundcontainer: rgb(6, 10, 37);
    --shadow: #12072a;
    --button: #3B3B98;
}

body {
    font-family: Poppins, sans-serif;
    background-color: var(--background);
    color: var(--text);
}



/* HEADER */
h1 {
    text-align: center;
    padding: 0 0 15px;
}



/* CONTAINER */
.container {
    position: absolute;
    width: 30rem;
    background-color: var(--backgroundcontainer);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px var(--shadow);
    padding: 20px;
    border-radius: 3%;
}



/* RESULT */
.result-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
	width: 100%;
	height: 70px;
    padding: 10px;
    background-color: rgb(14, 14, 78);
}

.result-container #result {
    word-wrap: break-word;
	max-width: calc(100% - 40px);
}



/* COPY BUTTON */
.btn {
    display: none;
    position: relative;
    width: 75px;
    height: 100%;
    font-size: 16px;
	background-color: var(--button);
    opacity: 0;
    border: none;
    cursor: pointer;
}

.btn-highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.2s;
    z-index: 0;
}

.btn P {
    position: relative;
    z-index: 1;
    color: var(--text);
}

.btn:hover .btn-highlight {
    transform: scaleX(1);
    box-shadow: 0 0 10px yellow;
}

.btn:hover p {
    color: black;
}

.btn:active .btn-highlight{
    background-color: var(--button);
}



/* SETTINGS */
.setting {
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}



/* RANGE */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 25px;
    background: rgb(14, 14, 78);
    outline: none;
    -webkit-transition: .2s;
    transition: all .2s;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: yellow;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: all .2s;
}

input[type=range]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px yellow;
}

input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: opacity .2s;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 10px yellow;
}



/* NUMBER */
input[type=number] {
    height: 25px;
    background: transparent;
    color: white;
    font-size: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
    border: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:focus {
    outline: 0;
}



/* CHECKBOXES */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    color: white;
    width: 1.15em;
    height: 1.15em;
    border: 0;
    border-radius: 0.15em;
    transition: all .2s;
  }

  input[type="checkbox"]:checked {
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
    transform-origin: bottom left;
  }
  



/* GENERATE BUTTON */
.btn-large {
	display: block;
    position: relative;
    height: 60px;
	width: 100%;
    border: none;
    background-color: var(--button);
    cursor: pointer;
}

.btn-large-highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.2s;
    z-index: 0;
}

.btn-large p {
    position: relative;
    z-index: 1;
    color: var(--text);
    font-size: 20px;
}

.btn-large:hover .btn-large-highlight {
    transform: scaleX(1);
    box-shadow: 0 0 10px yellow;
}

.btn-large:hover p {
    color: black;
}

.btn-large:active .btn-large-highlight {
    background-color: var(--button);
}



/* COPY ALERT MESSAGE */
.copy-alert {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position:absolute;
    height: 100%;
    width: 100%;
}

.copy-alert-msg {
    background-color: rgb(14, 14, 78);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    height: 150px;
    width: 450px;
    font-size: 15px;
    padding: 15px;
    overflow: hidden;
    color:white;
}

.copy-alert-msg h2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* COPY ALERT BUTTON */
.btnok {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: var(--button);
    border: none;
    cursor: pointer;
}

.btnok p {
    position: relative;
    z-index: 1;
    color: var(--text);
    font-size: 16px;
}

.btnok-highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.2s;
    z-index: 0;
}

.btnok:hover .btnok-highlight {
    transform: scaleX(1);
    box-shadow: 0 0 10px yellow;
}

.btnok:hover p {
    color: black;
}



/* Tablet Responsiveness */
@media only screen and (min-width: 415px) and (max-width: 1024px) {
    .container {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px;
        transform: translate(0, 0);
    }

    .name {
        font-size: 40px;
        padding: 10px;
    }

    .result-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        background-color: transparent;
        width: 100%;
        height: 200px;
        margin: 0 0 100px 0;
        padding: 0;
    }

    .result-word {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
    }

    #result {
        font-size: 30px;
    }

    .btn {
        grid-row: 2;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
        font-size: 30px;
    }

    .settings {
        font-size: 30px;
    }

    .setting {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0;
    }

    .howmanywords {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 50px;
    }

    .setting .homanywords label {
        grid-column: 1;
        grid-row: 1;
        clear: both;
        width: 100%;
    }

    input[type=range] {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100%;
        height: 40px;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 40px;
        height: 40px;
    }

    input[type=number] {
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
        background-color: transparent;
        color: white;
        font-size: 20px;
    }

    input[type=number] {
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
        background-color: transparent;
        color: white;
        font-size: 30px;
    }

    input[type=checkbox]{
        width: 2em;
        height: 2em;
        border-radius: 8px;
    }

    .btn-large {
        width: 100%;
        height: 9rem;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .copy-alert {
        position: fixed;
        top: 0;
        left: 0;
        width:100vw;
        height: 100vh;
    }

    .copy-alert-msg {
        width: 100%;
        height: 20vh;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -180%);
    }

    .btnok {
        border-radius: 0;
        margin:0;
        padding: 0;
        align-content: center;
    }
}



/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 414px) {
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .name {
        padding: 10px;
    }

    .result-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        background-color: transparent;
        width: 100%;
        height: 200px;
        margin: 0 0 100px 0;
        padding: 0;
    }

    .result-word {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
    }

    #result {
        font-size: 20px;
    }

    .btn {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
    }

    .setting {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        margin: 0;
        padding: 0;
    }

    .howmanywords {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 25px;
    }

    .setting .homanywords label {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    input[type=range] {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100%;
        height: 40px;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 40px;
        height: 40px;
    }

    input[type=number] {
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
        background-color: transparent;
        color: white;
        font-size: 20px;
    }

    input[type=checkbox]{
        width: 2em;
        height: 2em;
        border-radius: 8px;
    }

    .btn-large {
        width: 100%;
        height: 8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .copy-alert {
        position: fixed;
        top: 0;
        left: 0;
        width:100vw;
        height: 100vh;
    }

    .copy-alert-msg {
        width: 100%;
        height: 25vh;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -145%);
    }

    .btnok {
        border-radius: 0;
        margin:0;
        padding: 0;
        align-content: center;
    }
}