*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 5px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 0 solid white;
    border-radius: 25px;
    outline: 10px black;
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0ms;
}

.calculator-grid > button:hover {
    transform: scale(1.2);
    background: rgb(51, 51, 139);
    color: white;
    z-index: 100;
    transition: 200ms;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(36, 31, 65, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}