$primary: #444;
    
$comicwidth: 810px;
$comicheight: 1080px;
    
$pagenavbutton: 8rem;
    
$chapternavwidth: 400px;
$chapternavheight: 300px;
    
$chapternavbarwidth: 500px;
$chapternavbarheight: 300px;
