@import "./body";
@import "./variables";
@import "./mixings";

.comic_viewer {
    @include flexCenter(blue);
    margin: 0;
}

.comic_container {
    position: relative;
    width: $comicwidth;
    height: $comicheight;
    margin: auto;
    overflow: hidden;

    button {
        position:absolute;
        background: red;
        opacity: .5;
        border: 0;
        width: 8rem;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .prev { left: 0;}
    .next { right: 0;}
}

.comic_slide {
    display: flex;
    width: $comicwidth;
    // height: 1080px;
}

// .comic_chapternav {
//     background: blue;
//     position: absolute;
//     border-radius: 25px;
//     width: 400px;
//     height: 400px;
//     bottom: -400px;
// }