@import "./variables";
@import "./body";
@import "./mixings";

.comic_viewer {
    @include flexCenter($primary);
    min-height: 100vh;
    margin: 0;
}

.comic_container {
    position: relative;
    width: $comicwidth;
    height: $comicheight;
    overflow: hidden;

    button {
        position:absolute;
        background: red;
        opacity: .5;
        border: 0;
        width: $pagenavbutton;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .prev { left: 0;}
    .next { right: 0;}

    .chapter {
        left: ($comicwidth / 2) - $chapternavwidth / 2;
        top: ($comicheight / 2) - $chapternavheight / 2;
        width: $chapternavwidth;
        height: $chapternavheight;
        background-color: blue;
    }
}

.comic_slider {
    //width: 100%;
    height: 100%;
    display: inline-flex;
    user-select: none;
    background-color: palegoldenrod;
    
    .comic_slide {
        display: flex;
        width: auto;
        height: auto;
        background-color: white;
    }
}

.comic_chapternav {
    @include flexCenter($primary);
    z-index: 10;
    position: absolute;
    background: black;
    width: $chapternavbarwidth;
    height: $chapternavbarheight;
    left: ($comicwidth / 2) - $chapternavbarwidth / 2;
    bottom: -$chapternavbarheight;
    padding: 10px;
    border-radius: 25px 25px 0 0;

    .chapternav {
        display: flex;
        background: #444;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 100px;
        margin: auto 0;
        padding: 10px;
    }

    .chapnavCloseButton {
        top: 25px;
        margin: auto 0;
        width: 50px;
        height: 50px;
    }
}

@import "./mediaquery";